@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #c0f5b7;
    --cor1: #46e079;
    --cor2: #25d150;
    --cor3: #205e16;
    --cor4: #132b0f;
    --fontpadrao: "Bebas Neue", sans-serif;
    --fontdroid: "idroid";
}   

body {
    background-color: #c0f5b7;
    font-family: Arial, Helvetica, sans-serif;
}

a.linkexterno::after{
    content: "\00A0\1F517";
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    height: 230px;
}


header > h1 {
    font-family: var(--fontpadrao);
    font-weight: normal;
    font-size: 3.2em;
    color: white;
    padding-top: 40px;
    margin-bottom: 10px;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.514);
}

header > p {
    font-size: 1.3em;
    color: white;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.514);
    max-width: 650px;
    padding: 10px;
    margin: auto;
}

nav {
    background-color: var(--cor4);
    padding-bottom: 10px;
    padding-left: 12px;
}

nav > a {
    color: var(--cor0);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor4);
    transition: .5s;
    border-radius: 8px;
}

main {
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 25px;
    box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.301);
    border-radius: 0px 0px 10px 10px;
}

main > h1 {
    font-family: var(--fontdroid);
    font-weight: lighter;
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--cor4);
}

main > h2 {
    font-family: var(--fontdroid);
    font-size: 1.2em;
    font-weight: lighter;
    margin: 20px 0px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 10px;
}

main > p {
    text-align: justify;
    text-indent: 35px;
    line-height: 2.2em;
    margin: 15px 0px;
}

strong {
    color: var(--cor4);
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

a.linkexterno {
    text-decoration: none;
    color: #132b0f;
    background-color: var(--cor1);
    padding: 4px;
    font-weight: bold;
}

a.linkexterno:hover {
    text-decoration: underline;
}

#bugdroid {
    width: 400px;
}


main > aside {
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.301);
}

aside > h3 {
    font-weight: bolder;
    background-color: var(--cor3);
    padding: 10px;
    margin: 0px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

aside > p {
    text-align: justify;
    text-indent: 35px;
    line-height: 2em;
    margin: 15px 0px;
    padding: 15px;
}

aside > ul {
    list-style-position: inside;
    list-style:"\2714\00A0\00A0\00A0";
    columns: 2;
    padding-left: 35px;
}

footer {
    background-color: var(--cor4);
    font-size: 0.8em;
    text-align: center;
    color: white;
    margin-top: 40px;
    padding: 5px;
}

div.video {
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 4.8%;
    left: 4.8%;
    width: 90%;
    height: 90%;
}
